.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  /* background-color: #464849; */
  /* display: flex; */
  justify-content: center;
  transition: width .5s ease;
  background:url(../images/prism.png);
  /* background:url(../images/ep_naturalblack.png); */
}

.profile {
  height: 230px;
  width: 100%;
  /* display: flex; */
  justify-content: center;
  color: #d1d1d1;
}

.profileImage {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.profileContent {
  height: auto;
  width: 100%;
  /* display: flex; */
  text-align: center;
  justify-content: center;
}

.profileContent h1 {
  font-size: 25px;
  margin-top: 10px;
  word-break: break-all;
}

.categoria {
  color: #d1d1d1;
  text-align: center;
}

.flexItemsSideBar {
  display: flex;
  margin-left: 10px;
}

.btnAcoes{
  opacity: 0;
  transition: opacity 1s;
}

.flexItemsSideBar:hover > .btnAcoes {
  opacity: 1;
}

.itemsProfileContent {
  height: 30px !important;
}

.itemsProfileContent p {
  margin-left: 5px;
  font-size: 1.1rem;
}
